<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="img thumbnail">
    <img src="{{ product.imgUrl }}" alt="" />
    <div class="caption">
      <h4>
        <a href="#">{{ product.name }}</a>
      </h4>
      <h4 class="pull-right">{{ product.price }}</h4>
      <p>
        {{ product.description }}}
        <a target="_blank" href="http://www.bootsnipp.com"
          >Bootsnipp - http://bootsnipp.com</a
        >.
      </p>
    </div>
    <div class="ratings">
      <p class="pull-right">{{ product.reviews }}</p>
      <p>
        <span
          [class]="
            product.rating > 0
              ? 'glyphicon glyphicon-star'
              : 'glyphicon glyphicon-star-empty'
          "
        ></span>
        <span
          [class]="
            product.rating > 1
              ? 'glyphicon glyphicon-star'
              : 'glyphicon glyphicon-star-empty'
          "
        ></span>
        <span
          [class]="
            product.rating > 2
              ? 'glyphicon glyphicon-star'
              : 'glyphicon glyphicon-star-empty'
          "
        ></span>
        <span
          [class]="
            product.rating > 3
              ? 'glyphicon glyphicon-star'
              : 'glyphicon glyphicon-star-empty'
          "
        ></span>
        <span
          [class]="
            product.rating > 4
              ? 'glyphicon glyphicon-star'
              : 'glyphicon glyphicon-star-empty'
          "
        ></span>
      </p>
    </div>
    <button type="button" (click)="productAdd()">Add to Cart</button>
  </div>
</div>
